
h1 {
    color: whitesmoke;
    text-align: center;
    text-decoration-line: underline;
    text-shadow:  3px 3px 8px wheat;
}
 
body{
    margin: auto;
    background: url("../background/index.jpg");
    background-size: cover;
    overflow: auto;
    margin-top: 5em;   
}
 
.btn, object {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    margin: auto;
    width: 450px;
    height: 100px;
    box-shadow: 3px 3px 5px black;
    border-radius: 2rem;
    color: blue;
    font-size: 3em;
    align-content: center;
    margin-top: 4rem;
    border: solid 3px gray;
}
 
.btn:hover {
    background-color: beige;
    font: bold;
    color: black;
    box-shadow: 10px 10px 5px black;
} 

a {
    text-decoration: none;
}
 
main {
    margin: auto;
    text-align: center;
} 

#player-score {
    color : white;
}
 
#computer-score {
    color : white;
}


p {
    color: whitesmoke;
    text-align: center;
}
 